/dist
/node_modules
/database/database.sqlite
/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/flags
/public/fonts
/public/webfonts
/public/scss
/public/svg
/public/icons
/public/vendors
/public/public
/storage/*.key
/public/.DS_Store
.DS_Store
/public/assets/.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
/vendor/asm89
/vendor/autoload.php
/vendor/barryvdh
/vendor/bin
/vendor/brick
/vendor/composer
/vendor/dnoegel
/vendor/doctrine
/vendor/dragonmantank
/vendor/egulias
/vendor/facade
/vendor/fideloper
/vendor/filp
/vendor/fruitcake
/vendor/fzaninotto
/vendor/graham-campbell
/vendor/guzzlehttp
/vendor/hamcrest
/vendor/intervention
/vendor/league
/vendor/maennchen
/vendor/maximebf
/vendor/mockery
/vendor/monolog
/vendor/myclabs
/vendor/nesbot
/vendor/nikic
/vendor/nunomaduro
/vendor/opis
/vendor/paragonie
/vendor/phar-io
/vendor/phpdocumentor
/vendor/phpoption
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ralouphie
/vendor/ramsey
/vendor/scrivo
/vendor/sebastian
/vendor/spatie
/vendor/swiftmailer
/vendor/symfony
/vendor/theseer
/vendor/tijsverkoyen
/vendor/vlucas
/vendor/voku
/vendor/webmozart
